 <link rel="stylesheet" href="../Content/styles.css" >
<h1>Auto-Repair</h1>
<div class="content">
<hr WIDTH="100%">
</div>

<br>
<a href="/mechanic"><button class="index">View Mechanics</button></a>
<br>
/////////////////////////////////////////////
<br>
<a href="/clients"><button class="index">View Clients</button></a>
