<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >


<form action="/Mechanic/new" method="post">
<label for="Mechanic-name">Mechanic name</label>
<input class="Mechanic-name" name="Mechanic-name" type="text">
<button type="submit">Add</button>
</form>
