<h1>Auto-Repair</h1>
<hr WIDTH="100%">
<h3>Delete?</h3>

<h4>@Model.GetName()</h4>
<form action="/mechanic/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>
<p><a href="/">Back home</a></p>
