<form action="/mechanic/new" method="post">
  <label for="mechanic-name">Mechanic name</label>
  <input id="mechanic-name" name="mechanic-name" type="text">
  <button type="submit">Add</button>
</form>
