<h1>Client for the Mechanic.</h1>

  @if (@Model["clients"].Count == 0)
  {
    <p>No Clients Added</p>


  }
  else
  {
    <ol>
      @foreach (var clients in @Model["clients"])
      {
        <li>@clients.GetName()</li>
      }
    </ol>
  }
  <p><a href="/clients/new">Add Client</a></p>
  <p><a href="/">Home</a>
