
<h2>Mechanic:</h2>
<ol>
  @if (Model.Count != 0)
  {
    @foreach (var Mechanic in Model)
    {

      <li><h3><a href="/Mechanic/@Mechanic.GetId()">@Mechanic.GetName()</a></h3>
       <br> <a href="/Mechanic/edit/@Mechanic.GetId()">Edit</a>
       <br><a href="Mechanic/delete/@Mechanic.GetId()">Delete</a>
      </li>

    }
  }
</ol>
<h4><a href="/Mechanic/new">Add new Mechanic</a></h4>
<h4><a href="/">Return home</a></h4>
