<form action="/Mechanic/new" method="post">
  <label for="Mechanic-name">Mechanic name</label>
  <input id="Mechanic-name" name="Mechanic-name" type="text">
  <button type="submit">Add</button>
</form>
