<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../Content/styles.css" >

<h1>Auto Repair</h1>


<h3>Edit Mechanic: @Model.GetName()</h3>
<form action="/mechanic/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="mechanic-id" type="hidden" value="@Model.GetId()">
  <label for="mechanic-name">Mechanic name</label>
  <input class="mechanic-name" name="mechanic-name" type="text">
  <button type="submit">Submit</button>
</form>
<a href="/"><button>Return home</button></a>


<!-- will not link to stylesheet -->
